.myStyle1  {color:black; font-family:Arial; font-size:12; background-color:green}
.myStyle2  {color:black; font-family:Arial; font-size:18; background-color:red}
.myStyle3  {color:black; font-family:Arial; font-size:24; background-color:blue}
.myStyle4  {color:black; font-family:Arial; font-size:30; background-color:white}
.myStyle5  {color:red; font-family:Verdana; font-size:12; background-color:yellow}
.myStyle6  {color:red; font-family:Verdana; font-size:18; background-color:green}
.myStyle7  {color:red; font-family:Verdana; font-size:24; background-color:white}
.myStyle8  {color:red; font-family:Verdana; font-size:30; background-color:blue}
.myStyle9  {color:green; font-family:Courier; font-size:12; background-color:white}
.myStyle10 {color:green; font-family:Courier; font-size:18; background-color: red}
.myStyle11 {color:green; font-family:Courier; font-size:24; background-color:yellow}
.myStyle12 {color:green; font-family:Courier; font-size:30; background-color: purple}
.myStyle13 {color:blue; font-family:Times; font-size:12; background-color:yellow}
.myStyle14 {color:blue; font-family:Times; font-size:18; background-color:white}
.myStyle15 {color:blue; font-family:Times; font-size:24; background-color:red}
.myStyle16 {color:blue; font-family:Times; font-size:30; background-color:green}
.myStyle17 {color:white; font-family:Helvetica; font-size:12; background-color:black}
.myStyle18 {color:white; font-family:Helvetica; font-size:18; background-color:green}
.myStyle19 {color:white; font-family:Helvetica; font-size:24; background-color:red}
.myStyle20 {color:white; font-family:Helvetica; font-size:30; background-color:blue}
